
*.lref
*.cache
ModernBusinessSolution/.vs/ModernBusinessSolution/v16/.suo
*.cache
*.baml
*.jfm
*.jfm
*.dbmdl
*.pdb
*.exe
*.pdb
ModernBusinessSolution/.vs/ModernBusinessSolution/v16/.suo
*.jfm
ModernBusinessSolution/.vs/ModernBusinessSolution/v16/.suo
ModernBusinessSolution/.vs/ModernBusinessSolution/v16/.suo
