
MBSWPFUserInterface/.vs/MBSWPFUserInterface/v16/.suo
MBSWPFUserInterface/MBSLibrary/obj/Debug/MBSLibrary.csprojAssemblyReference.cache
MBSWPFUserInterface/WPFUI/obj/Debug/App.baml
MBSWPFUserInterface/WPFUI/obj/Debug/GeneratedInternalTypeHelper.g.cs
MBSWPFUserInterface/WPFUI/obj/Debug/MainWindow.baml
MBSWPFUserInterface/WPFUI/obj/Debug/Views/AdminCenterView.baml
MBSWPFUserInterface/WPFUI/obj/Debug/Views/LoginView.baml
MBSWPFUserInterface/WPFUI/obj/Debug/Views/ManageAccountView.baml
MBSWPFUserInterface/WPFUI/obj/Debug/Views/RegisterView.baml
MBSWPFUserInterface/WPFUI/obj/Debug/WPFUI.csprojAssemblyReference.cache
MBSWPFUserInterface/WPFUI/obj/Debug/WPFUI_MarkupCompile.cache
MBSWPFUserInterface/WPFUI/obj/Debug/WPFUI_MarkupCompile.lref
MBSWPFUserInterface/.vs/MBSWPFUserInterface/v16/.suo
MBSWPFUserInterface/MBSLibrary/obj/Debug/MBSLibrary.csprojAssemblyReference.cache
MBSWPFUserInterface/WPFUI/obj/Debug/App.baml
MBSWPFUserInterface/WPFUI/obj/Debug/GeneratedInternalTypeHelper.g.cs
MBSWPFUserInterface/WPFUI/obj/Debug/MainWindow.baml
MBSWPFUserInterface/WPFUI/obj/Debug/Views/AdminCenterView.baml
MBSWPFUserInterface/WPFUI/obj/Debug/Views/LoginView.baml
MBSWPFUserInterface/WPFUI/obj/Debug/Views/ManageAccountView.baml
MBSWPFUserInterface/WPFUI/obj/Debug/Views/RegisterView.baml
MBSWPFUserInterface/WPFUI/obj/Debug/WPFUI.csprojAssemblyReference.cache
MBSWPFUserInterface/WPFUI/obj/Debug/WPFUI_MarkupCompile.cache
MBSWPFUserInterface/WPFUI/obj/Debug/WPFUI_MarkupCompile.lref
